{% extends 'base.html' %}
{% load static %}
{% block title %} profile {% endblock %}
{% block content %}
 <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Cart</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Services</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Booking Start -->
    <div class="container-fluid booking mt-5 pb-5">
        <div class="container pb-5">
            <div class="bg-light shadow" style="padding: 30px;">
                <div class="row align-items-center" style="min-height: 60px;">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select class="custom-select px-4" style="height: 47px;">
                                        <option selected>Destination</option>
                                        <option value="1">Destination 1</option>
                                        <option value="2">Destination 1</option>
                                        <option value="3">Destination 1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <div class="date" id="date1" data-target-input="nearest">
                                        <input type="text" class="form-control p-4 datetimepicker-input" placeholder="Depart Date" data-target="#date1" data-toggle="datetimepicker"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <div class="date" id="date2" data-target-input="nearest">
                                        <input type="text" class="form-control p-4 datetimepicker-input" placeholder="Return Date" data-target="#date2" data-toggle="datetimepicker"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select class="custom-select px-4" style="height: 47px;">
                                        <option selected>Duration</option>
                                        <option value="1">Duration 1</option>
                                        <option value="2">Duration 1</option>
                                        <option value="3">Duration 1</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 47px; margin-top: -2px;">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Booking End -->

    <div class="res">
        <h1> My Profile ({{request.user.username}})</h1>
        <hr>
        {% if request.user.is_authenticated %}
        {% comment %} <!-- hey  -----------> {% endcomment %}
            <div class="col-lg-4">
              <div class="card border-0">
                  <div class="card-header bg-primary text-center p-4">
                      <h1 class="text-white m-0">Edit Profile Now</h1>
                  </div>
                  <div class="card-body rounded-bottom bg-white p-5">
                    
                      <form method ="POST">
                      {% csrf_token %}
                      {% if userprofiles %}
                        {% for user_profile in userprofiles %}
                          <div class="form-group">
                              <input type="text" class="form-control p-4" placeholder="Your User-Name" required="required" name = "user_name" value="{{user_profile.user}}"/>
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control p-4" placeholder="Your password" required="required" name = "password" value = "{{use_profile.password}}" />
                          </div>
                          <div class="form-group">
                              <input type="email" class="form-control p-4" placeholder="Your email" required="required" name="email" value="{{user_profile.email}}" />
                          </div>

                          <div class="form-group">
                              <input type="text" class="form-control p-4" placeholder="Your address" required="required" name="address" value = {{user_profile.address}} />
                          </div>

                          <div class="form-group">
                              <input type="text" class="form-control p-4" placeholder="City" required="required" name="city" value = {{user_profile.city}} />
                          </div>

                          <div class="form-group">
                              <input type="text" class="form-control p-4" placeholder="State" required="required" name="state" value = {{user_profile.state}}/>
                          </div>

                          <div class="form-group">
                              <input type="text" class="form-control p-4" placeholder="Zip Code" required="required" name="zip" value = {{user_profile.zip_number}} />
                          </div>

                          <div class="form-group">
                              <input type="text" class="form-control p-4" placeholder="Phone Number" required="required" name="phone" value={{user_profile.phone_number}}/>
                          </div>

                          <div class="form-group">
                              <select class="custom-select px-4" style="height: 47px;">
                                  <option selected>Select a destination</option>
                                  <option value="1">destination 1</option>
                                  <option value="2">destination 1</option>
                                  <option value="3">destination 1</option>
                              </select>
                          </div>
                          <div>
                              <button class="btn btn-primary btn-block py-3" type="submit">Sign Up Now</button>
                          </div>
                          {% endfor %}
                          {% endif %}
                      </form>
                      <!-- End Form ------------------------ -->  
                  </div>
              </div>
            </div>
        {% comment %} <form >
            <div class="col-md-6">
                <label for="inputfirstname"><b>first name</b></label>
                <input  type="text" placeholder="Enter first name" name="fname" value="{{fname}}">
            </div>
    
            <div class="col-md-6">
                <label for="inputlastname"><b>last name</b></label>
                <input  type="text" placeholder="Enter last name" name="lname" value="lname" >
            </div>
            <div class="col-md-6">
                <label for="address"><b>address</b></label>
                <input  type="text" placeholder="Enter address" name="address" value="{{address}}" >
            </div>
             <div class="col-md-6">
                <label for="city"><b>city</b></label>
                <input  type="text" placeholder="Enter city" name="city" value="{{city}}" >
              </div>
            <div class="col-md-6">
                <label for="state"><b>state</b></label>
                <input  type="text" placeholder="Enter state" name="state" value="{{state}}" >
            </div>
            <div class="col-md-6">
                <label for="input zip code"><b>zip</b></label>
                <input  type="text" placeholder="Enter zip code" name="zip" value="{{zip}}" >
            </div>
            <div class="col-md-6">
                <label for="email"><b>Email</b></label>
                <input  type="text" placeholder="Enter Email" name="email" value="{{email}}" >
            </div>
            <div class="col-md-6">
                <label for="username"><b>Username</b></label>
                <input name="username" type="text" placeholder="Enter username" value="{{username}}" >
            </div>
    
            <div class="col-md-6">
                <label for="password"><b>Password</b></label>
                <input name="password" type="password" placeholder="Enter Password" value="{{password}}">
            </div>
    
            <div class="col-md-6 form-check">
              <input name="check" type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary" name="">save</button>
        </form> {% endcomment %}
        {% else %}
        you must login <a href="{% url 'signin' %}" class="text-dark">sign in</a>
        {% endif %}
    </div>
{% endblock content %}