{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}">
    <title>Document</title>
</head>
<body>
    {% for x in pro %}
    <h1 >{{x.name}}</h1>
    <img src="{{x.photo.url}}" alt="">
    <a href="testimonial" class="dropdown-item">Testimonial</a>
    <button href="service" class="btn btn-warning">add tom cart</button>
    {% endfor%}
</body>
</html>